<form method="post" action="{{ path('app_admin_centre_delete', {'id': centre.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
