{% extends 'base_back.html.twig' %}

{% block title %}Modifier Centre{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container" style="max-width:50vw">
        <h1 style="text-align:center" class="pt-4">Modifier Centre</h1>
        <div class="d-flex justify-content-between py-2">
            <a href="{{ path('app_admin_centre_index') }}" class="btn btn-primary mb-3">Retour a la liste</a>
            {{ include('admin_centre/_delete_form.html.twig') }}
        </div>
        {{ include('admin_centre/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>
    
{% endblock %}
