<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Front-end{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!-- CSS only -->
        <link differ href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/calibri-light" rel="stylesheet">
        <link rel="stylesheet" href={{asset('style.css')}}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand"><img src={{asset('images/logo.png')}} alt="logo" style="width:100px"></a>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-3" id="footer-accueil">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item"><p class="m-0 p-0 text-muted">99 Rue de Conflans</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">95220 Herblay-sur-seine</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">Tél : 01.42.03.77.00</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">Email : groupesr3@gmail.com</p></li>
                </ul>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <p class="text-muted">GROUPESR3 &copy; 2022</p>
            </div>
            <div class="col">
            </div>
        </footer>
        <!-- JavaScript Bundle with Popper -->
        <script differ src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>